<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo/Delicious.ico">
    <title>Delicious - Find Your Favorite Food</title>
</head>
    <body>
        <!-- Skip to Content -->
        <a href="#main" class="skip-content">Skip To Content</a>
        <!-- Header -->
        <header class="header">
            <div class="header__content">
                <a href="#" class="header__brand">
                    <img src="./images/logo/Delicious.png" alt="Delicious">
                </a>
                <a id="menu" class="header__menu">
                    <img src="./images/icon/menu.svg" alt="menu">
                </a>
                <nav class="navbar">
                    <img src="./images/logo/Delicious.png" class="navbar__logo" alt="Delicious">
                    <ul class="navbar__nav">
                        <li class="nav__item">
                            <a href="/" class="nav__link active">
                                <img src="./images/icon/home.svg" alt="home">
                                Home
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <img src="./images/icon/favorite.svg" alt="favorite">
                                Favorite
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="https://github.com/messirichard" target="blank" class="nav__link">
                                <img src="./images/icon/user.svg" alt="user">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Hero -->
        <div class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">Are You Hungry?</h1>
                <p class="hero__tagline">Let's Find Your Favorite Food</p>
                <a href="#" class="btn-order">Order Now</a>
            </div>
        </div>
        <!-- Content -->
        <main id="main">
            <section class="content">
                <div class="content__header">
                    <h1 class="content__title">Most Popular Food</h1>
                    <p class="content__paragraph">Have you tried it?</p>
                </div>
                <div class="post">
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__thumbnail">
                                <img src="./images/food/salad.jpg" alt="salad">
                            </div>
                        </div>
                        <div class="post__body body__food">
                            <a href="#" class="post__title">Salad</a>
                            <div class="price">&dollar; 10</div>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__thumbnail">
                                <img src="./images/food/shrimps_and_pasta.jpg" alt="Shrimps and Pasta">
                            </div>
                        </div>
                        <div class="post__body body__food">
                            <a href="#" class="post__title">Shrimps and Pasta</a>
                            <div class="price">&dollar; 15</div>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__thumbnail">
                                <img src="./images/food/spageti.jpg" alt="Spageti">
                            </div>
                        </div>
                        <div class="post__body body__food">
                            <a href="#" class="post__title">Spageti</a>
                            <div class="price">&dollar; 12</div>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__thumbnail">
                                <img src="./images/food/squid_soup.jpg" alt="Squid Soup">
                            </div>
                        </div>
                        <div class="post__body body__food">
                            <a href="#" class="post__title">Squid Soup</a>
                            <div class="price">&dollar; 10</div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="content">
                <div class="content__header">
                    <h1 class="content__title">Explore Our Restourant</h1>
                </div>
                <div class="post">
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__kota">
                                <p>Kota Medan</p>
                            </div>
                            <div class="post__thumbnail">
                                <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Bring Your Phone Cafe">
                            </div>
                        </div>
                        <div class="post__body">
                            <div class="rating">
                                <img src="./images/icon/star.svg" alt="rating">
                                <p>4.6</p>
                            </div>
                            <a href="#" class="post__title">Bring Your Phone Cafe</a>
                            <p class="post__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__kota">
                                <p>Kota Bali</p>
                            </div>
                            <div class="post__thumbnail">
                                <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Run The Gun">
                            </div>
                        </div>
                        <div class="post__body">
                            <div class="rating">
                                <img src="./images/icon/star.svg" alt="rating">
                                <p>4.6</p>
                            </div>
                            <a href="#" class="post__title">Run The Gun</a>
                            <p class="post__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__kota">
                                <p>Kota Ternate</p>
                            </div>
                            <div class="post__thumbnail">
                                <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="Pangsit Express">
                            </div>
                        </div>
                        <div class="post__body">
                            <div class="rating">
                                <img src="./images/icon/star.svg" alt="rating">
                                <p>4.8</p>
                            </div>
                            <a href="#" class="post__title">Pangsit Express</a>
                            <p class="post__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                        </div>
                    </article>
                    <article class="post__item">
                        <div class="post__header">
                            <div class="post__kota">
                                <p>Kota Malang</p>
                            </div>
                            <div class="post__thumbnail">
                                <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="Ducky Duck">
                            </div>
                        </div>
                        <div class="post__body">
                            <div class="rating">
                                <img src="./images/icon/star.svg" alt="rating">
                                <p>4.8</p>
                            </div>
                            <a href="#" class="post__title">Ducky Duck</a>
                            <p class="post__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer__inner">
                <div class="copyright">
                    <p>copyright &copy; 2020 </p>
                    <img src="./images/logo/Delicious.png" alt="Delicious">
                </div>
            </div>
        </footer>
    </body>
</html>
